<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout.html}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title th:text="${@environment.getProperty('spring.application.name')}"></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" th:href="@{/css/bootstrap-4.1.3.min.css}">
        <script type="text/javascript" th:href="@{/js/bootstrap-4.1.3.min.js}"></script>
        <script type="text/javascript" th:href="@{/js/jquery-3.7.1min.js}"></script>
    </head>
    <body>
        <section layout:fragment="content">
            <p th:text="'ISBN: ' + ${book.isbn}"/>
            <p th:text="'Title: ' + ${book.title}"/>
            <p th:text="'Author: ' + ${book.author}"/>
            <p th:text="'Publisher: ' + ${book.publisher}"/>
            <p th:text="'Year: ' + ${book.year}"/>

            <a th:href="@{/books}" th:text="'Back'"/>
        </section>
    </body>
</html>